
/* Zerando formatações pré-definidas da página */
*{
    margin: 0;
    padding: 0;
}

/* body com background e font aplicada */
body{
    font-family: Arial, sans-serif;
    background: #fff url(../../imagens/fundo.png) repeat-x;
}

/* Área principal dos conteúdos */
#container{
    width: 720px;
    margin: 0 auto;
}

/* Área onde vai ficar a logo e figura do mapa */
#topo{
    height: 150px;
    background: url(../../imagens/detalhe-topo.png) no-repeat top right;
    padding-top: 20px;
}

/* Primeira palavra do título estilizada */
#topo h1{
    font-size: 4em;
    font-weight: bold;
    color: #fff;
}

/* Divisor vermelho entre as duas palavras do título para dar efeito */
#divisor{
    background: #fff;
    height: 7px;
    width: 160px;
}

/* Elemento com o id "detalhe-logo" */
#detalhe-logo{
    background: red;
    width: 40px;
    height: 7px;
    margin-left: 20px;
}

/* Links dentro do id="topo", teram o estilo abaixo realizado */
#topo a{
    text-decoration: none;
}

/* BARRA DE NAVEGAÇÃO */

/* Zerando formatações padrões de lista */
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Elemento de id "navegacao-horizontal" */
#navegacao-horizontal{
    margin-top: 80px;
    background: #b10333;
    float: left;
}

/* Tag <li> dentro de elemento de id "navegacao-horizontal" */
#navegacao-horizontal li{
    float: left;
}

/* Tag <a> dentro do elemento de id "navegacao-horizontal" */
#navegacao-horizontal a{
    font-size: 1em;
    display: block;
    padding: 0.6em 1.3em;
    text-decoration: none;
    font-weight: bold;
    line-height: 2.1em;
    color: #fff;
    border-left: 1px solid #db0440;
}

/* Tag <a> dentro de elemento de classe "primeiro" e id "navegacao-horizontal" */
#navegacao-horizontal .primeiro a{
    border: none;
}

/* Tag <a> no estado de hover dentro de elemento com id "navegacao-horizontal" */
#navegacao-horizontal a:hover{
    color: #fa5280;
}

/* 
Efeito implementado que, ao acessar um determinado link, 
ocorre a estilização abaixo para cada tipo de acesso.

Tag <a> com determinado id, dentro de elemento com id "navegacao-horizontal" e dentro de body
com determinada classe. 
*/
.home #navegacao-horizontal a#home,
.brasil #navegacao-horizontal a#brasil,
.internacional #navegacao-horizontal a#internacional,
.economia #navegacao-horizontal a#economia,
.saude #navegacao-horizontal a#saude,
.cencia #navegacao-horizontal a#ciencia,
.fotos #navegacao-horizontal a#fotos
{
    color: #fff;
    background: #ff0046;
    cursor: text;
}

/* LAYOUT DE TRÊS COLUNAS PARA CONTEÚDO */

/* Elemento com o id "conteudo" */
#conteudo{
    margin-top: 140px;
    display: flex;
    flex-direction: row;
}

/* Ordenando os elementos filhos <div> do elemento com id "conteudo" */
#conteudo :nth-child(1) {order: 1;}
#conteudo :nth-child(2) {order: 1;}

/* Elemento com id "coluna-primaria" */
#coluna-primaria{
    width: 270px;
	float: left;
    margin: 0 20px 20px 20px;
}

/* Elemento com id "coluna-secundaria" */
#coluna-secundaria{
    width: 270px;
	float: left;
    margin-bottom: 20px;
}

/* Elemento com id "coluna-lateral" */
#coluna-lateral{
    width: 180px;
	float: left;
    margin-bottom: 20px;
}

/* CAIXA */

/* Elemento com classe "caixa" */
.caixa{
    margin: 10px 0;
    padding: 5px;
}

/* Elemento h2 estilizado*/
h2{
    background: #294c71;
    font-size: 1.1em;
    color: #fff;
    padding: 5px;
}

/* Elemento com a classe "caixa-conteudo" */
.caixa-conteudo{
    background: #fff;
    padding: 5px;
    margin-top: 10px;
}

/* MENUS LATERAIS */

/* Elemento <a> dentro de um elemento lista <ul> e
dentro de um elemento com o id "coluna-lateral" */
#coluna-lateral ul a{
    font-size: 0.9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #f3f3;
}

/* Elemento <a> em estado de hover que pertence a uma lista <li>
dentro de um elemento com o id "coluna-lateral" */
#coluna-lateral ul a:hover{
    background: #f9f9f9 url(../../imagens/marcador.png) no-repeat left center;
    padding-left: 25px;
    color: grey;
}

/* FORMULÁRIO */

/* Elemento label estilizado */
label{
    display: block;
    cursor: pointer;
}

/* Elemento input estilizado */
input{
    font-size: 0.9em;
    background: #fff;
    border: 1px solid #f3f3;
    padding: 5px
}

/* Elemento input com classe "submit" */
input.submit{
    width: 80px;
    color: #fff;
    background-color: #b10333;
    border: 2px solid #870529;
    padding: 5px;
    cursor: pointer;
}

/* IMAEGNS */

/* elemento img com a classe "imagem-principal" */
img.imagem-principal{
    width: 98%;
    border: 3px solid #dfdfdf;
}

/* CABECALHOS */

/* Elemento <h3> com id "coluna-secundaria" */
#coluna-secundaria h3{
    text-transform: uppercase;
    display: inline;
    font-size: 0.8em;
    padding: 3px;
    background: #b10333;
    color: #fff;
}

/* Elemento <h3> com id "coluna-primaria" */
#coluna-primaria h3{
    text-transform: uppercase;
    display: inline;
    font-size: 0.8em;
    padding: 3px;
    background: #ff054c;
    color: #000;
}

/* LISTA DE NOTÍCIAS DO MUNDO */

/* Elemento <li> dentro de um elemento <ul> com id "lista-noticias" */
#lista-noticias li{
    padding: 2px;
    border-bottom: 1px solid #f3f3;
    height: 75px;
}

/* Elemento <img> dentro de um elemento <a>, dentro de
um elemento <li> que pertence a uma lista com id "lista-noticias" */
#lista-noticias li a img{
    float: left;
    margin: 4px;
}

/* Elemento <a> dentro de um elemento <li> que está dentro de um elemento
com id "lista-noticias" */
#lista-noticias li a{
    text-decoration: none;
}

/* Elemento <h3> dentro de um elemento <li> dentro de um elemento com id "lista-noticias" */
#lista-noticias li h3{
    padding: 0;
    font-size: 0.8em;
    color: #3e7ab9;
    background: none;
}

/* Elemento <p> dentro de um elemento <li> dentro de um elemento com id "lista-noticias" */
#lista-noticias li p{
    font-size: 0.8em;
    color: #000;
}

/* Elemento <li> em estado de hover dentro de um elemento com id "lista-noticias" */
#lista-noticias li:hover{
    background: #eee;
    cursor: pointer;
}

/* LISTA DE NOTÍCIAS RECENTES */

/* Elemento com classe "primeiro-link-recente" dentro de elemento com id "lista-noticias-recentes" */
#lista-noticias-recentes .primeiro-link-recente{
    margin-top: 14px;
}

/* Elemento <li> dentro de um elemento <ul> com id "lista-noticias-recentes" */
#lista-noticias-recentes li{
    padding: 2px;
    border-bottom: 1px solid #f3f3;
    height: 75px;
}

/* Elemento <img> dentro de um elemento <a>, dentro de
um elemento <li> que pertence a uma lista com id "lista-noticias-recentes" */
#lista-noticias-recentes li a img{
    float: left;
    margin: 4px;
}

/* Elemento <a> dentro de um elemento <li> que está dentro de um elemento
com id "lista-noticias-recentes" */
#lista-noticias-recentes li a{
    text-decoration: none;
}

/* Elemento <h3> dentro de um elemento <li> dentro de um elemento com id "lista-noticias-recentes" */
#lista-noticias-recentes li h3{
    background: none;
    font-size: 0.8em;
    color: #3e7ab9;
    padding: 0;
}

/* Elemento <p> dentro de um elemento <li> dentro de um elemento com id "lista-noticias-recentes" */
#lista-noticias-recentes li p{
    font-size: 0.8em;
    color: #000;
}

/* Elemento <li> em estado de hover dentro de um elemento com id "lista-noticias-recentes" */
#lista-noticias-recentes li:hover{
    background: #eee;
    cursor: pointer;
}

/* Elemento com id "container-rodape" */
#container-rodape{
    clear: both;
    background: #000;
}

/* Elemento com id "rodape" */
#rodape{
    width: 750px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    color: #fff;
    font-size: 1.1em;
}