
/* Zerando formatações pré-definidas da página */
*{
    margin: 0;
    padding: 0;
}

/* body com background e font aplicada */
body{
    font-family: Trebuchet MS, Helvetica, sans-serif;
    background: #fff url(../../imagens/fundo.png) repeat-x;
}

/* Área principal dos conteúdos */
#container{
    width: 720px;
    margin: 0 auto;
}

/* Área onde vai ficar a logo e figura do mapa */
#topo{
    height: 150px;
    background: url(../../imagens/detalhe-topo.png) no-repeat top right;
    padding-top: 20px;
}

/* Primeira palavra do título estilizada */
.titulo-I{
    font-size: 3em;
    font-weight: bold;
    color: #fff;
}

/* Segunda palavra do título estilizada */
.titulo-II{
    font-size: 4em;
    font-weight: bold;
    color: #fff;
}

/* Divisor vermelho entre as duas palavras do título para dar efeito */
#divisor{
    border: 1px solid #BEBEBE;
    background: red;
    height: 4px;
    width: 152px;
}

/* Links dentro do id="topo", teram o estilo abaixo realizado */
#topo a{
    text-decoration: none;
}

/* BARRA DE NAVEGAÇÃO */

/* Zerando formatações padrões de lista */
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Elemento de id "navegacao-horizontal" */
#navegacao-horizontal{
    margin-top: 80px;
    background: #b10333;
    float: left;
}

/* Tag <li> dentro de elemento de id "navegacao-horizontal" */
#navegacao-horizontal li{
    float: left;
}

/* Tag <a> dentro do elemento de id "navegacao-horizontal" */
#navegacao-horizontal a{
    font-size: 1em;
    display: block;
    padding: 0.5em 1.4em;
    text-decoration: none;
    font-weight: bold;
    line-height: 2.1em;
    color: #fff;
    border-left: 1px solid #db0440;
}

/* Tag <a> dentro de elemento de classe "primeiro" e id "navegacao-horizontal" */
#navegacao-horizontal .primeiro a{
    border: none;
}

/* Tag <a> no estado de hover dentro de elemento com id "navegacao-horizontal" */
#navegacao-horizontal a:hover{
    color: #fa5280;
}

/* 
Efeito implementado que, ao acessar um determinado link, 
ocorre a estilização abaixo para cada tipo de acesso.

Tag <a> com determinado id, dentro de elemento com id "navegacao-horizontal" e dentro de body
com determinada classe. 
*/
.home #navegacao-horizontal a#home,
.brasil #navegacao-horizontal a#brasil,
.internacional #navegacao-horizontal a#internacional,
.economia #navegacao-horizontal a#economia,
.saude #navegacao-horizontal a#saude,
.cencia #navegacao-horizontal a#ciencia,
.fotos #navegacao-horizontal a#fotos
{
    color: #fff;
    background: #ff0046;
    cursor: text;
}

/* LAYOUT DE TRÊS COLUNAS PARA CONTEÚDO */

#conteudo{
    /* background: cyan; */
    margin-top: 130px;
    display: flex;
    flex-direction: row;
}

/* Ordenando os elementos filhos <div> do elemento com id "conteudo" */
#conteudo :nth-child(1) {order: 1;}
#conteudo :nth-child(2) {order: 1;}

/* Elemento com id "coluna-primaria" */
#coluna-primaria{
    width: 270px;
	float: left;
    margin: 0 20px 20px 20px;
}

/* Elemento com id "coluna-secundaria" */
#coluna-secundaria{
    width: 270px;
	float: left;
    margin-bottom: 20px;
}

/* Elemento com id "coluna-lateral" */
#coluna-lateral{
    width: 180px;
	float: left;
    margin-bottom: 20px;
}

/* CAIXA */

.caixa{
    /* background: #f3f3f3; */
    margin: 10px 0;
    padding: 5px;
}
h2{
    background: #294c71;
    font-size: 1.1em;
    color: #fff;
    padding: 5px;
}

/* Elemento com id "container-rodape" */
#container-rodape{
    clear: both;
    background: #000;
}

.caixa-conteudo{
    background: #fff;
    padding: 5px;
    margin-top: 10px;
}

/* MENUS LATERAIS */

#coluna-lateral ul a{
    font-size: 0.9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #f3f3;
}

#coluna-lateral ul a:hover{
    background: #f9f9f9 url(../../imagens/marcador.png) no-repeat left center;
    padding-left: 25px;
    color: grey;
}

/* FORMULÁRIO */
label{
    display: block;
    cursor: pointer;
}

input{
    font-size: 0.9em;
    background: #fff;
    border: 1px solid #f3f3;
    padding: 5px
}

input.submit{
    width: 80px;
    color: #fff;
    background-color: #b10333;
    border: 2px solid #870529;
    padding: 5px;
    cursor: pointer;
}

/* IMAEGNS */

img.imagem-principal{
    width: 98%;
    border: 3px solid #dfdfdf;
}

/* CABECALHOS */

#coluna-secundaria h3{
    text-transform: uppercase;
    display: inline;
    font-size: 0.8em;
    padding: 3px;
    background: #b10333;
    color: #fff;
}

#coluna-primaria h3{
    text-transform: uppercase;
    display: inline;
    font-size: 0.8em;
    padding: 3px;
    background: #ff054c;
    color: #000;
}

/* LISTA DE NOTÍCIAS DO MUNDO */

#lista-noticias li{
    padding: 2px;
    border-bottom: 1px solid #f3f3;
    height: 75px;
}

#lista-noticias li a img{
    float: left;
    margin: 5px;
}

#lista-noticias li a{
    text-decoration: none;
}


/* Elemento com id "rodape" */
#rodape{
    width: 750px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    color: #fff;
    font-size: 1.1em;
}